<p id="notice"><%= notice %></p>

<p>
  <strong>Handle:</strong>
  <%= @reviewer.handle %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @reviewer.phone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reviewer.status %>
</p>

<p>
  <strong>Years Active:</strong>
  <%= @reviewer.years_active %>
</p>
<table>
  <thead>
    <tr>
      <th> Title </th>
      <th> Subtitle </th>
      <th> Stars </th>
      <th> Body </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviewers.review.each do |review| %>
      <tr>
        <td><%= review.title %></td>
        <td><%= review.subtitle %></td>
        <td><%= review.stars %></td>
        <td><%= review.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_reviewer_path(@reviewer) %> |
<%= link_to 'Back', reviewers_path %>
