<h1>Badminton</h1>
<img src="assets/badminton.jpg" alt="badminton img" height="200" width="200">
<p> A picture and video of badminton incase you didn't know. Also, down below are the <br>members of the cs badminton team. We consist of Alex Klatt, Andrew Hayes, and Carlos Cancino </p>
<p>Here's an index of pages for our team. </p>

	
<ul>
	<div>
	<label><b>Klatt, Alex</b></label>	
	<li><%= link_to "Producers", producers_path %></li>
	<li><%= link_to "Films", films_path %></li>
	<br>
	</div>

	<div>
	<label><b>Cancino, Carlos</b></label>	
	<li><%= link_to "Talent Agents", talent_agents_path %></li>
	<li><%= link_to "Actors", actors_path %></li>
	<br>
	</div>

	<div>
	<label><b>Hayes, Andrew</b></label>	
	<li><%= link_to "Reviewers", reviewers_path %></li>
	<li><%= link_to "Reviews", reviews_path %></li>
	</div>

</ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/WPM40QTO9DE" frameborder="0" allowfullscreen></iframe>

