<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.label :stars %>
    <%= f.text_field :stars %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

<div class="field">
<form>
    <legend>Reviewer</legend>
    <select>
    <% @reviewers.each do |h| %>
      <option><%= h.name %></option>
    <% end %>
    </select><br>
    <br>
  </form>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
